# Python Virtual Environments
venv/
env/
ENV/
.venv/

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
*.so

# NLTK data downloads
nltk_data/

# OS artifacts
.DS_Store
Thumbs.db

# IDE & Editor configs
.vscode/
.idea/
*.swp
*.swo
